<%
const polyfills = ['default', 'es2015', 'es2016', 'es2017', 'IntersectionObserver'].join("%2C");
const config = {
    title: 'top',
    description: 'This is top page',
    styles: ['/css/index.css'],
    scripts: [
        `https://polyfill.io/v3/polyfill.min.js?features=${polyfills}&flags=gated`,
        '/js/vendor.bundle.js',
        '/js/index.js'
    ],
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image'
};
%>

<%- include('./common/_head.ejs', { ...config }) %>

<main id="main" class="Main" role="main">
<% [...Array(5).keys()].forEach(i => { %>
    <div class="panel -<%= i + 1 %>">
    <% [...Array(5).keys()].forEach(j => { %>
        <p class="block"><%= i + 1 %> - <%= j + 1 %></p>
    <% }) %>
    </div>
<% }) %>
</main>

<div class="Test">
    <div class="TestOne">ONE</div>
    <div class="TestTwo">TWO</div>
</div>

<%- include('./common/_foot.ejs', { ...config }) %>
